body {
    background-image: url("./public/img/bg.png");
    background-color: #cccccc;
    font-family: 'Open Sans', sans-serif;
}

.intro {
    position: absolute;
    top: 150px;
    left: 80px;
    color: white;
}

.ft-48px {
    font-size: 48px;
}

.ft-28px {
    font-weight: normal;
    font-size: 28px;
    width: 290px;
}

.card_bg{
    width: 500px;
    height: 400px;
    background-color: #F9F9F9;
}

.container{
    position: absolute;
    top: 70px;
    left: 580px;
}

.border-green {
    border-color: #00B97C;
}

.Header1{
    font-weight: bold;
    font-size: 25px;
    color: #344438;
}

.Header2{
    font-weight: bold;
    font-size: 18px;
    color: #344438;
}

.border-thin {
    border-width: 1px;
}

.border-solid {
    border-style: solid;
}

.button{
    /*border-radius: 10px;*/
    /*background-color: #00B97C;*/
    width:90px;
    height: 20px;
}

.button_text{
    font-weight: bold;
    color: white;
}

.mg-20px{
    margin-top: 50px;
}

.pd-10px{
    padding: 10px;
}

.pd-30px{
    padding: 20px;
}

.pd-50px {
    padding: 50px;
}

.bg-green{
    background-color: #00B97C;
}

.rounded-10px {
    border-radius: 10px;
}

.rounded-50px {
    border-radius: 50px;
}

.opacity{
    opacity: 60%;
}

